@font-face {
  font-family: "Bolota";
  src: url("/assets/fonts/bolota.woff");
}

@font-face {
  font-family: "Madimi";
  src: url("/assets/fonts/madimi.woff");
}

@font-face {
  font-family: "Caskadyia Cove";
  src: url("/assets/fonts/CaskaydiaCove-Regular.otf");
}

html {
    --base: #0F111B;
    --surface: #1B1C3600;
    --overlay: #686F9A;
    --text: #ECF0C1;
    --yellow: #F2CE00;
    --magenta: #CE6F8F;
    --green: #5CCC96;

    --font: "Madimi", sans-serif;
    --font-display: "Bolota", sans-serif;
    --font-mono: "Caskadyia Cove", monospace;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: var(--font);
    color: var(--text);
    background-color: var(--base);
    /* background-image: url("/assets/images/glitchblock_00.jpg") */
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-display);
    color: var(--yellow)
}

pre, code {
    font-family: var(--font-mono);
    color: var(--magenta);
    background-color: var(--base);
    outline: solid var(--border-width) var(--overlay);
    border-radius: var(--border-width);
}

pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
    max-width: 100%;
    padding: 0.5lh 0.5rem;
}

pre > code {
    outline: unset;
}

code:not(pre code) {
    margin: 5rlh 0.5rem;
    padding: 0lh 0.5rem;
}

a {
    text-decoration: none;
    color: #7A5CCCFF;
}

a:hover {
    color: #CE6F8FFF
}


strong {
    font-weight: 900;
    font-size: 1.2em;
    height: 1em;
}

p::first-letter {
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--yellow);
}

.sidenav, .info, .main {
    --sidenav-width: 20vw;
    --main-width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    /* outline: 3px solid red; */
}

.sidenav, .info {
    width: var(--sidenav-width);

}

.main {
    width: var(--main-width);
    flex-grow: 1;
    font-size: 1rem;
    overflow: scroll;
    /* background-color: black; */
}

.main > main {
    width: 75vw;
}

.main > header {
    background-color: var(--base)80;
    top: 0em;
    width: 100%;
    padding: 0.5rlh 0 0 0;
    position: sticky;
    z-index: 10;
}

.content, .contentContainer {
    --border-width: 2px;
}
.contentContainer {
    --header-offset: 0.5rlh;
    position: relative;
    padding: var(--header-offset) 0 0 0;
    margin: 1rlh var(--border-width);
    width: 100%;
}

.contentContainer  li:not(article li) {
    list-style-type: none;
}

.contentContainer > header {
    position: absolute;
    width: fit-content;
    max-width: 100%;
    top: 0;
    left: 0.5em;
    height: 1rlh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.contentContainer> header::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--header-offset) - var(--border-width));
    width: 100%;
    height: var(--border-width);
    z-index: 0;
    background: var(--surface);
}

.contentContainer > header > *{
    padding: 0 0.5rem;
    margin: 0 0 0 0;
    height: 1lh;
    z-index: 1;
}

.content {
    background-color: var(--surface);
    outline: solid var(--border-width) var(--overlay);
    border-radius: var(--border-width);
    padding: 1rlh 1em 1rlh;
}

.content.note {

}

.emojiContainer {
    padding: 0;
    margin: 0;
}
.emoji {
    height: 1lh;
    position: relative;
    bottom: -0.25rlh;
    object-position: 50% bottom;
    object-fit: scale-down;
    /* image-rendering: pixelated; */
    image-rendering: smooth;
}
