{{ define "page" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <title>{{ .Title }}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <meta name="description" content="" />

        <link rel="icon" href="assets/favicon.ico">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body>
        <div class="main">
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <main>
               {{ template "content" . }}
            </main>

            <footer>
                c. 2024
            </footer>
        </div>
    </body>
</html>
{{end}}
